<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.ssafy.mypage.profile.mapper.UserMapper">

    <select id="selectProfileByUserId" resultType="ProfileDto">
        SELECT
            u.user_id,
            u.user_nickname,
            u.profile_url,
            u.brix,
            u.status_message,
            (
                SELECT COUNT(*) FROM keywi_feed.follow_user
                WHERE following_id = #{userId} AND is_active = TRUE
            ) AS followerCount,
            (
                SELECT COUNT(*) FROM keywi_feed.follow_user
                WHERE follower_id = #{userId} AND is_active = TRUE
            ) AS followingCount,
            0 AS buildCount  -- 조립수는 아직 없으면 0으로 대체
        FROM users u
        WHERE u.user_id = #{userId}
    </select>

    <update id="updateBrix">
        UPDATE users
        SET brix = brix + #{brixIncrease}
        WHERE user_id = #{userId}
    </update>

    <update id="updateStatusMessage">
        UPDATE users
        SET status_message = #{statusMessage}
        WHERE user_id = #{userId}
    </update>

</mapper>
